---
- name: Prepare
  hosts: all
  become: true
  gather_facts: true

  vars:
    __prepare_packages:
      Archlinux: [systemd, dbus, procps-ng]
      Debian: [systemd, dbus, procps, polkitd]
      RedHat: [systemd, dbus, procps-ng]

  tasks:
    #
    # Cache Updates
    #

    - name: Prepare | Update package cache (Arch)
      community.general.pacman:
        update_cache: true
        upgrade: true
      when: ansible_facts['os_family'] == 'Archlinux'

    - name: Prepare | Update package cache (Debian)
      ansible.builtin.apt:
        update_cache: true
      when: ansible_facts['os_family'] == 'Debian'

    - name: Prepare | Update package cache (RedHat)
      ansible.builtin.dnf:
        update_cache: true
      when: ansible_facts['os_family'] == 'RedHat'

    #
    # Container Dependencies
    #

    - name: Prepare | Install container dependencies
      ansible.builtin.package:
        name: '{{ '{{' }} __prepare_packages[ansible_facts["os_family"]] {{ '}}' }}'
        state: present

    # TODO: Add role-specific preparation tasks
    # (e.g., pre-install packages, systemd service overrides for containers)
