---
__{{ role_name }}_packages:
  - 'TODO'

__{{ role_name }}_service_name: 'TODO.service'
__{{ role_name }}_config_file: '/etc/TODO'
__{{ role_name }}_data_dir: '/var/lib/TODO'
__{{ role_name }}_apparmor_profile: '/usr/bin/TODO'
