---
# TODO: Add configuration tasks
# Example:
# - name: Configure | Deploy configuration file
#   ansible.builtin.template:
#     src: {{ role_name }}.conf.j2
#     dest: '{{ '{{' }} __{{ role_name }}_config_file {{ '}}' }}'
#     owner: root
#     group: root
#     mode: '0644'
#   notify: Restart {{ role_name }}
