---
- name: Firewall | Check if firewalld is running
  ansible.builtin.systemd_service:
    name: firewalld
  register: __{{ role_name }}_firewalld_status
  failed_when: false

# TODO: Set the correct service name below
- name: Firewall | Manage {{ role_name }} firewall rule
  ansible.posix.firewalld:
    service: TODO
    zone: '{{ '{{' }} {{ role_name }}_firewalld_zone {{ '}}' }}'
    permanent: true
    immediate: true
    state: "{{ '{{' }} {{ role_name }}_firewalld_enabled | bool | ternary('enabled', 'disabled') {{ '}}' }}"
  when: __{{ role_name }}_firewalld_status.status.ActiveState | default('') == 'active'
