---
- name: Service | Manage {{ role_name }} service
  ansible.builtin.systemd_service:
    name: '{{ '{{' }} __{{ role_name }}_service_name {{ '}}' }}'
    enabled: "{{ '{{' }} {{ role_name }}_service_enabled | bool {{ '}}' }}"
    state: "{{ '{{' }} {{ role_name }}_service_enabled | bool | ternary('started', 'stopped') {{ '}}' }}"
    daemon_reload: true
